table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50px;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
word-wrap: break-word;
max-width: 500px;
}
tr:nth-child(odd) {
  background-color: #10dddd;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

https://file.io/E6lw6Z

<link rel="stylesheet" href="https://file.io/E6lw6Z">
